@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at top right, #0f172a, #020617);
  color: white;
  min-height: 100 screen;
}

/* Deixa os cartões com aspecto de vidro */
.glass-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
